@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.wavy {
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    white-space: pre-wrap;
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}
